apiVersion: v1
kind: PersistentVolume
metadata:
  name: 'pi-kube-nfs'
spec:
  capacity:
    storage: 100Gi
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: {{ hostvars[groups.NFS[0]].ansible_default_ipv4.address }}
    path: "/srv/kube_nfs"
    readOnly: false

