# vim:ft=ansible:
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-ingress-controller
  namespace: kube-system
---
apiVersion: v1
data:
  tls.crt: |
{% for line in traefikBase64TLSCrt %}
    {{ line }}
{% endfor %}
  tls.key: |
{% for line in traefikBase64TLSKey %}
    {{ line }}
{% endfor %}
kind: Secret
metadata:
  annotations:
    kubernetes.io/service-account.name: traefik-ingress-controller
  name: traefik-pi-kube-tls
  namespace: kube-system
type: kubernetes.io/tls
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: traefik-ingress-controller
  namespace: kube-system
  labels:
    k8s-app: traefik-ingress-lb
spec:
  replicas: 2
  selector:
    matchLabels:
      k8s-app: traefik-ingress-lb
  template:
    metadata:
      labels:
        k8s-app: traefik-ingress-lb
        name: traefik-ingress-lb
    spec:
      volumes:
        - name: traefik-pi-kube-tls
          secret:
            secretName: traefik-pi-kube-tls
        - name: traefik-configmap
          configMap:
            name: traefik-configmap
      serviceAccountName: traefik-ingress-controller
      terminationGracePeriodSeconds: 60
      containers:
      - image: traefik
        name: traefik-ingress-lb
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /ping
            port: 80
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 5
        readinessProbe:
          failureThreshold: 2
          httpGet:
            path: /ping
            port: 80
            scheme: HTTP
          periodSeconds: 5
        ports:
        - name: http
          containerPort: 80
        - name: admin
          containerPort: 8080
        - name: https
          containerPort: 443
        volumeMounts:
          - mountPath: "/ssl"
            name: "traefik-pi-kube-tls"
          - mountPath: "/config"
            name: "traefik-configmap"
        args:
        - --logLevel=INFO
        - --configfile=/config/traefik.toml
        - --insecureSkipVerify=true
        #- --api
        #- --kubernetes
        #- --entrypoints=Name:https Address::443 TLS
        #- --entrypoints=Name:http Address::80
---
kind: Service
apiVersion: v1
metadata:
  name: traefik-ingress-service
  namespace: kube-system
spec:
  selector:
    k8s-app: traefik-ingress-lb
  ports:
    - protocol: TCP
      port: 80
      name: http
    - protocol: TCP
      port: 8080
      name: admin
    - protocol: TCP
      port: 443
      name: https
  type: LoadBalancer
  loadBalancerIP: 192.168.1.245
